#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.1em;
  max-width: 90%;
}

form > div {
  display: flex;
  gap: 0.5em;
  /* align-self: ; */
}

.button {
  padding: 1rem 2em;
  border-radius: 5px;
  background-color: aliceblue;
}