#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

}

:root {
  /* Global vars */
  --main-bg-theme: hsl(0, 0%, 85%);
  --main-contrast:hsl(0, 0%, 15%); 
}

@media (prefers-color-scheme: dark) {
  :root {
    --main-bg-theme: hsl(0, 0%, 15%);
    --main-contrast: hsl(0, 0%, 85%); 
  }
}

body {
  background-color: var(--main-bg-theme);
  color: var(--main-contrast);
}

form {  
  display: flex;
  flex-direction: column;
  gap: 0.1em;
  max-width: 90%;
}

form > div {
  display: flex;
  gap: 0.5em;
  justify-content:space-between;
  /* align-self: ; */
}

.button {
  padding: 1rem 2em;
  border-radius: 5px;
  background-color: aliceblue;
}